@import url("./reset.css");

@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: url('./assets/fonts/Poppins-Light.ttf')
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('./assets/fonts/Poppins-SemiBold.ttf')
}

:root {
    --c-white-10: #FFFFFF;
    --c-dark-10: #918E9B;
    --c-dark-50: #222222;
    --c-dark-90: #000000;
}

* {    
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
}

html, body, #root {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 36px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.global-shadow {
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

h1 {
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 110%;
}

p {
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    line-height: 110%;
}

.star-icon {
    background-image: url("./assets/svg/star-icon.svg");
    height: 14px;
    width: 14px;
}